//- Author: rapidhere@gmail.com
//- FDU Web Project 1
//-
//- Personal Page

extends login-framework

append statics
  link(rel="stylesheet" type="text/css" href="#{static}/css/pages/personal.css")
  script(src="#{static}/js/pages/personal.js")

block title
  title 个人资料

block left-content
  div.tab-navbar
    div.tab-nav(data-navid="tab-question" data-active="active") 提问
    div.tab-nav(data-navid="tab-answer") 回答

  div.tab-content
    div.tab#tab-question
      ul
        li: a(href="javascript:;")如何评价黑金属，包括音乐上的和其行为上的
        li: a(href="javascript:;")五月份上海LiveHouse有什么演出

    div.tab#tab-answer
      div.answer-section
        div.question-title
          关于ss和他们的前任主唱，有什么评价

        div.answer-content
          p ss是个好乐队，不过感觉在死核上还是完票性质，有好多乐队的技术还是比他们厉害。
          p 前任主唱是Mitch Lucker嘛，我很喜欢的一个主唱，不过在我关注ss前已经死了，台风很彪悍，唱的也不错，据说有个女儿，我觉得如果还活着应该是我最喜欢的主唱之一。

        div.time 2015-04-11 15:16

      div.answer-section
        div.question-title
          关于ss和他们的前任主唱，有什么评价

        div.answer-content
          p ss是个好乐队，不过感觉在死核上还是完票性质，有好多乐队的技术还是比他们厉害。
          p 前任主唱是Mitch Lucker嘛，我很喜欢的一个主唱，不过在我关注ss前已经死了，台风很彪悍，唱的也不错，据说有个女儿，我觉得如果还活着应该是我最喜欢的主唱之一。

        div.time 2015-04-11 15:16

      div.answer-section
        div.question-title
          关于ss和他们的前任主唱，有什么评价

        div.answer-content
          p ss是个好乐队，不过感觉在死核上还是完票性质，有好多乐队的技术还是比他们厉害。
          p 前任主唱是Mitch Lucker嘛，我很喜欢的一个主唱，不过在我关注ss前已经死了，台风很彪悍，唱的也不错，据说有个女儿，我觉得如果还活着应该是我最喜欢的主唱之一。

        div.time 2015-04-11 15:16



block right-content
  div.portrait-container
    img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")

    p.name Mark Morton
    p.description Guitarist from Lamb of God

  div.follow-container.clearfix.section
    div.followed
      关注了
      p 20人

    div.following
      关注者
      p 85人

  div.section.following-container
    h3 最近TA关注了

    a(href="javascript:;"): img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")
    a(href="javascript:;"): img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")
    a(href="javascript:;"): img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")

  div.section.followed-container
    h3 最近关注TA的

    a(href="javascript:;"): img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")
    a(href="javascript:;"): img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")
    a(href="javascript:;"): img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")
    a(href="javascript:;"): img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")
