//- the question page

extends login-framework

block title
  title Metal Only

append statics
  link(rel="stylesheet" type="text/css" href="#{static}/css/pages/question.css")
  script(src="#{static}/js/pages/question.js")

block left-content
  div.question-container
    div.question-section
      h2 关于中国金属的出路
      p 陈野 提问于 2015-04-07 11:30

    div.answer-section
      div.answer-title.clearfix
        img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")
        span.name Mark Morton
        span.description Guitarist from Lamb of God
      div.answer-content
        p
          来自美国Virginia的金属乐队Lamb of God原名叫做Burn the Priest，由主唱Randy Blythe，吉他手Mark Morton和Will Adler，贝斯手John Campbell和鼓手Chris Adler等五位成员组成。1998年，Burn the Priest曾发行过一张同名专辑《Burn the Priest》。2000年，Burn the Priest乐队正式更名为Lamb of God。同年，Lamb Of God发行了首张专辑《New American Gospel》，得到了歌迷很高的评价。此后，Lamb Of God开始了一次大规模的巡演，无论是大规模的音乐节演出还是小型的酒吧演出，乐队都格外卖力的参加。在将近两年的时间内，Lamb of God乐队都一直在巡演中度过，一直在宣传他们号称“纯粹美国式的死亡金属”。

        p
          2003年夏天，Lamb of God发行了乐队的第二张专辑《As the Palaces Burn》。紧接着，Lamb Of God在2004年又发行了由Machine制作的第三张专辑《Ashes of the Wake》。这张《Ashes of the Wake》在各大排行榜中所取得的成绩和媒体的评价都相当好，而Lamb Of God在此之后所举办的巡演也相当成功。随后，Epic公司重新发行了他们原乐队Burn the Priest 1998年的同名专辑《Burn the Priest》。2005年，记录了Lamb Of God乐队在费城演出的现场DVD《Killadelphia》发行。同年年末，《Killadelphia》的CD版也正式面世。

        p
          2006年8月，Lamb Of God乐队的最新专辑《Sacrament》出炉，首周以6万3千张的销量排在Billboard 200单曲榜第八位，创造了Lamb Of God在Billboard 200专辑榜中的最好成绩以及单周销量的最高纪录。

      div.answer-reply.clearfix
        div.reply-span
          span.reply-button 评论(2)
          span 2015-04-08 12:00

        div.reply-container
          div.reply-section.clearfix
            div.reply-portrait
              img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")

            div.reply-content-container
              p.name 陈野
              div.content
                p 你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好
              p.time 2015-04-08 12:10


          div.reply-section.clearfix
            div.reply-portrait
              img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")

            div.reply-content-container
              p.name Mitch Lucker
              div.content
                p 你好
              p.time 2015-04-08 12:13

          div.reply-input.clearfix
            textarea
            button 评论

    div.answer-section
      div.answer-title.clearfix
        img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")
        span.name Mark Morton
        span.description Guitarist from Lamb of God
      div.answer-content
        p
          来自美国Virginia的金属乐队Lamb of God原名叫做Burn the Priest，由主唱Randy Blythe，吉他手Mark Morton和Will Adler，贝斯手John Campbell和鼓手Chris Adler等五位成员组成。1998年，Burn the Priest曾发行过一张同名专辑《Burn the Priest》。2000年，Burn the Priest乐队正式更名为Lamb of God。同年，Lamb Of God发行了首张专辑《New American Gospel》，得到了歌迷很高的评价。此后，Lamb Of God开始了一次大规模的巡演，无论是大规模的音乐节演出还是小型的酒吧演出，乐队都格外卖力的参加。在将近两年的时间内，Lamb of God乐队都一直在巡演中度过，一直在宣传他们号称“纯粹美国式的死亡金属”。

        p
          2003年夏天，Lamb of God发行了乐队的第二张专辑《As the Palaces Burn》。紧接着，Lamb Of God在2004年又发行了由Machine制作的第三张专辑《Ashes of the Wake》。这张《Ashes of the Wake》在各大排行榜中所取得的成绩和媒体的评价都相当好，而Lamb Of God在此之后所举办的巡演也相当成功。随后，Epic公司重新发行了他们原乐队Burn the Priest 1998年的同名专辑《Burn the Priest》。2005年，记录了Lamb Of God乐队在费城演出的现场DVD《Killadelphia》发行。同年年末，《Killadelphia》的CD版也正式面世。

        p
          2006年8月，Lamb Of God乐队的最新专辑《Sacrament》出炉，首周以6万3千张的销量排在Billboard 200单曲榜第八位，创造了Lamb Of God在Billboard 200专辑榜中的最好成绩以及单周销量的最高纪录。

      div.answer-reply.clearfix
        div.reply-span
          span.reply-button 评论(2)
          span 2015-04-08 12:00

        div.reply-container
          div.reply-section.clearfix
            div.reply-portrait
              img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")

            div.reply-content-container
              p.name 陈野
              div.content
                p 你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好
              p.time 2015-04-08 12:10


          div.reply-section.clearfix
            div.reply-portrait
              img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")

            div.reply-content-container
              p.name Mitch Lucker
              div.content
                p 你好
              p.time 2015-04-08 12:13

          div.reply-input.clearfix
            textarea
            button 评论

    div.answer-input
      textarea
      button 回答


block right-content
  div#hot-questions.section
    h3 热门问题

    ul
      li: a.problem(href="javascript:;") 染涂这个厂牌怎么样
      li: a.problem(href="javascript:;") 染涂厂牌下的dhm,py等人是如何出道的
      li: a.problem(href="javascript:;") 关于中国金属的出路
      li: a.problem(href="javascript:;") 五月份上海livehouse有什么演出
      li: a.problem(href="javascript:;") 关于ss和他们的前任主唱，有什么评价
      li: a.problem(href="javascript:;") 技术死，老式死，以及其他死亡金属的区别和发展

  div#hot-users.section
    h3 热门用户

    div.user-section.clearfix
      img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")
      div.user-description
        p.name Mark Morton
        p.description Guitarist from Lamb of God

    div.user-section.clearfix
      img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")
      div.user-description
        p.name Mark Morton
        p.description Guitarist from Lamb of God

    div.user-section.clearfix
      img.square-portrait(src="#{static}/img/portrait-mark morton.jpg")
      div.user-description
        p.name Mark Morton
        p.description Guitarist from Lamb of God
